@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 120 2% 10%;
  --primary: 142 71% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142 30% 90%;
  --secondary-foreground: 142 71% 25%;
  --accent: 142 40% 95%;
  --accent-foreground: 142 71% 20%;
}

.dark {
  --background: 120 2% 10%;
  --foreground: 0 0% 100%;
  --primary: 142 71% 45%;
  --primary-foreground: 120 2% 10%;
  --secondary: 142 20% 20%;
  --secondary-foreground: 142 71% 60%;
  --accent: 142 20% 15%;
  --accent-foreground: 142 71% 60%;
}
